@import "tailwindcss";

#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100%;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1s ease-in forwards;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
